In [1]:
# Loading libraries
import datetime as dt
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import timedelta
from statistics import mean

# Creating a list of assets:
my_tickers_1 = ["META", "CROX", "AMZN", "OXY", "NFLX", "DECK", "URI"]
my_tickers_1 = sorted(my_tickers_1, reverse=False)  # Sorting alphabetically

my_tickers_2 = ["SPY", "IWM", "DIA"]  # ETFs
my_tickers_2 = sorted(my_tickers_2, reverse=False)  # Sorting alphabetically

my_tickers_3 = my_tickers_1+my_tickers_2 # Used for Beta calculation later
my_tickers_3 = sorted(my_tickers_3, reverse=False)  # Sorting alphabetically

start_date = dt.datetime.today() - dt.timedelta(days=365)
end_date = dt.datetime.today()

In [2]:
## Now downloading the data using the above variables
my_port = yf.download(start=start_date, end=end_date, tickers=my_tickers_1)
etf = yf.download(start=start_date, end=end_date, tickers=my_tickers_2)
combined_port = yf.download(start=start_date, end=end_date, tickers=my_tickers_3)
my_port # Visualizing stock data

[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  3 of 3 completed
[*********************100%***********************]  10 of 10 completed

             Adj Close                                                  \
                  AMZN        CROX        DECK        META        NFLX
Date
2023-03-01   92.169998  124.449997  415.589996  173.236191  313.480011
2023-03-02   92.129997  125.349998  420.839996  174.345016  311.880005
2023-03-03   94.900002  125.540001  428.410004  185.053650  315.179993
2023-03-06   93.750000  125.059998  433.519989  184.704025  312.029999
2023-03-07   93.550003  124.470001  431.420013  184.314438  308.470001
...                ...         ...         ...         ...         ...
2024-02-22  174.580002  117.290001  884.059998  486.130005  588.469971
2024-02-23  174.990005  118.309998  880.479980  484.029999  583.559998
2024-02-26  174.729996  119.879997  869.469971  481.739990  587.650024
2024-02-27  173.539993  121.089996  871.400024  487.049988  601.669983
2024-02-28  173.160004  123.260002  882.419983  484.019989  596.479980

                                        Close                          ...  \
                  OXY         URI        AMZN        CROX        DECK  ...
Date                                                                   ...
2023-03-01  59.006973  461.648285   92.169998  124.449997  415.589996  ...
2023-03-02  59.560383  464.411499   92.129997  125.349998  420.839996  ...
2023-03-03  60.528843  473.263489   94.900002  125.540001  428.410004  ...
2023-03-06  60.953781  468.773346   93.750000  125.059998  433.519989  ...
2023-03-07  60.133556  469.503632   93.550003  124.470001  431.420013  ...
...               ...         ...         ...         ...         ...  ...
2024-02-22  60.529999  658.799988  174.580002  117.290001  884.059998  ...
2024-02-23  60.020000  658.229980  174.990005  118.309998  880.479980  ...
2024-02-26  60.470001  670.789978  174.729996  119.879997  869.469971  ...
2024-02-27  60.599998  676.479980  173.539993  121.089996  871.400024  ...
2024-02-28  60.259998  686.190002  173.160004  123.260002  882.419983  ...

                  Open                           Volume                   \
                  NFLX        OXY         URI      AMZN     CROX    DECK
Date
2023-03-01  321.549988  58.509998  467.420013  52299500  1396200  271000
2023-03-02  310.959991  59.400002  465.190002  55509400   928100  256700
2023-03-03  315.450012  59.480000  471.380005  55759600  1548100  267300
2023-03-06  317.000000  61.060001  477.959991  52112400  1764600  387000
2023-03-07  312.679993  61.320000  476.690002  49100700  1530200  428800
...                ...        ...         ...       ...      ...     ...
2024-02-22  582.750000  60.189999  656.059998  55392400  1272400  349300
2024-02-23  586.400024  60.000000  663.000000  59662900   891700  230300
2024-02-26  583.559998  59.700001  659.349976  44368600  1099000  334500
2024-02-27  595.000000  60.930000  676.000000  31141700  1189800  273400
2024-02-28  595.789978  60.500000  673.539978  26779929   963909  257012


                META     NFLX       OXY     URI
Date
2023-03-01  30998400  4911300  14414200  706200
2023-03-02  17352000  4911000  13858700  577300
2023-03-03  45877700  5953300  17088900  526700
2023-03-06  33209400  5660700  12890800  647600
2023-03-07  36701500  4553100  12547300  690400
...              ...      ...       ...     ...
2024-02-22  21625800  3526600   9369300  369200
2024-02-23  17861100  2567800   7783500  373500
2024-02-26  12101400  2393700   8510000  493700
2024-02-27  10809600  4489400   7051800  485400
2024-02-28  11589757  2587234   7815937  461954

[251 rows x 42 columns]

In [3]:
# Only tracking the Adj Close values for each stock and dropping NAN values.
my_port = my_port["Adj Close"].dropna()
etf = etf["Adj Close"].dropna()
combined_port = combined_port["Adj Close"].dropna()

In [4]:
my_port # Checking

,AMZN,CROX,DECK,META,NFLX,OXY,URI
Date,,,,,,,
2023-03-01,92.169998,124.449997,415.589996,173.236191,313.480011,59.006973,461.648285
2023-03-02,92.129997,125.349998,420.839996,174.345016,311.880005,59.560383,464.411499
2023-03-03,94.900002,125.540001,428.410004,185.053650,315.179993,60.528843,473.263489
2023-03-06,93.750000,125.059998,433.519989,184.704025,312.029999,60.953781,468.773346
2023-03-07,93.550003,124.470001,431.420013,184.314438,308.470001,60.133556,469.503632
...,...,...,...,...,...,...,...
2024-02-22,174.580002,117.290001,884.059998,486.130005,588.469971,60.529999,658.799988
2024-02-23,174.990005,118.309998,880.479980,484.029999,583.559998,60.020000,658.229980
2024-02-26,174.729996,119.879997,869.469971,481.739990,587.650024,60.470001,670.789978
2024-02-27,173.539993,121.089996,871.400024,487.049988,601.669983,60.599998,676.479980
2024-02-28,173.160004,123.260002,882.419983,484.019989,596.479980,60.259998,686.190002

# Part 1
Using Pandas Dataframe to create a table of stock information.

In [5]:
#  Adding the Tickers Column
data = {"Tickers": my_tickers_1}
table = pd.DataFrame(data)
print(table)

  Tickers
0    AMZN
1    CROX
2    DECK
3    META
4    NFLX
5     OXY
6     URI

In [6]:
# Adding the Portfolio Weight Column
weight = 1/len(my_tickers_1) # Distributed equally between each stock
table["Portfolio Weight"] = weight
print(table)

  Tickers  Portfolio Weight
0    AMZN          0.142857
1    CROX          0.142857
2    DECK          0.142857
3    META          0.142857
4    NFLX          0.142857
5     OXY          0.142857
6     URI          0.142857

In [7]:
# Calculating Annualized Voltaility using trailing 3 months
start_date = dt.date.today() - dt.timedelta(days=90)
end_date = dt.date.today()

# Annualized Volatility's formula was taken from this website: https://www.fool.com/knowledge-center/how-to-calculate-annualized-volatility.aspx
new_port = (my_port.loc[start_date:end_date].pct_change().std()) * np.sqrt(252) # Taking standard deviation of daily datapoints(percent change) and multiplying by sqrt(252) for annualized data. 
# To filter the relevant dates, I used this stack exchange as reference: https://stackoverflow.com/questions/22898824/filtering-pandas-dataframes-on-dates
listObj = new_port.tolist() # New port is a Series datatype, so using this line to convert to a list.
table["Annual Volatility"] = listObj
print(table)

  Tickers  Portfolio Weight  Annual Volatility
0    AMZN          0.142857           0.264933
1    CROX          0.142857           0.596942
2    DECK          0.142857           0.385066
3    META          0.142857           0.480885
4    NFLX          0.142857           0.334115
5     OXY          0.142857           0.215541
6     URI          0.142857           0.416805

In [8]:
# Calculating Beta against ETFs
covariance = combined_port.pct_change().cov() # Calculating the covariance matrix
variance_spy = combined_port["SPY"].pct_change().var() # Finding variance of eacb ETFs
variance_iwm = combined_port["IWM"].pct_change().var()
variance_dia = combined_port["DIA"].pct_change().var()
spy_index = combined_port.columns.get_loc('SPY') # Finding the column index of ETFs so I can locate the matrix element.
iwm_index = combined_port.columns.get_loc('IWM')
dia_index = combined_port.columns.get_loc('DIA')
beta_spy = list() # Creates empty list
beta_iwm = list()
beta_dia= list()
for x in range(len(my_tickers_3)): # Loop over tickers
    if my_tickers_3[x] != 'SPY' and my_tickers_3[x] != 'IWM' and my_tickers_3[x] != 'DIA': # Using this to avoid diagonal terms
        beta1= covariance.iloc[x,spy_index]/variance_spy # using this to access off-diagonal terms which, when divided by the variance of the ETF, gives me beta ratio against the ETFs
        beta_spy.append(beta1)
        beta2= covariance.iloc[x,iwm_index]/variance_iwm
        beta_iwm.append(beta2)
        beta3= covariance.iloc[x,dia_index]/variance_dia
        beta_dia.append(beta3)
table["Beta Against SPY"] = beta_spy
table["Beta Against IWM"] = beta_iwm
table["Beta Against DIA"] = beta_dia
table

,Tickers,Portfolio Weight,Annual Volatility,Beta Against SPY,Beta Against IWM,Beta Against DIA
0,AMZN,0.142857,0.264933,1.453276,0.457087,1.039966
1,CROX,0.142857,0.596942,1.604849,1.269135,1.820178
2,DECK,0.142857,0.385066,1.048085,0.444152,0.955028
3,META,0.142857,0.480885,1.803662,0.547528,1.420480
4,NFLX,0.142857,0.334115,1.241910,0.443284,1.049091
5,OXY,0.142857,0.215541,0.653186,0.510618,0.982842
6,URI,0.142857,0.416805,1.796029,1.336669,2.202207

In [9]:
# Calculating Average Weekly Drawdowns

weekly_averages_list = list() # Creates empty list
start_date = dt.date.today()
weekly_drawdowns_list = list() # Creates empty list
for y in range(len(my_tickers_1)): # Loop over tickers
    for z in range(1,52): # Loop over 52 weeks
        max_value = my_port[my_tickers_1[y]].loc[start_date-dt.timedelta(days=6):start_date].max() # Gives max value in a one week interval
        min_value = my_port[my_tickers_1[y]].loc[start_date-dt.timedelta(days=6):start_date].min() # Gives min value in a one week interval
        weekly_drawdowns_list.append((min_value-max_value)/max_value) # Appending weekly drawdown to a list 
        start_date = start_date - dt.timedelta(days=6) # Going to the next 7 day interval
    weekly_averages_list.append(mean(weekly_drawdowns_list)) # Taking averages and adding to a list. Individual values correspond to average weekly drawdown of each stock.
    weekly_drawdowns_list = list() # Initializing
    start_date = dt.date.today() # Initializing to repeat the same procedure with another stock
table["Average Weekly Drawdown "] = weekly_averages_list
table

,Tickers,Portfolio Weight,Annual Volatility,Beta Against SPY,Beta Against IWM,Beta Against DIA,Average Weekly Drawdown
0,AMZN,0.142857,0.264933,1.453276,0.457087,1.039966,-0.036666
1,CROX,0.142857,0.596942,1.604849,1.269135,1.820178,-0.061397
2,DECK,0.142857,0.385066,1.048085,0.444152,0.955028,-0.038281
3,META,0.142857,0.480885,1.803662,0.547528,1.420480,-0.038034
4,NFLX,0.142857,0.334115,1.241910,0.443284,1.049091,-0.043309
5,OXY,0.142857,0.215541,0.653186,0.510618,0.982842,-0.030957
6,URI,0.142857,0.416805,1.796029,1.336669,2.202207,-0.046679

In [10]:
# Calculating Maximum Weekly Drawdown
start_date = dt.date.today() 
weekly_drawdowns_list=list()
max_weekly_drawdrowns_list=list()
for k in range(len(my_tickers_1)):
    for l in range(1,52):
        max_value = my_port[my_tickers_1[k]].loc[start_date-dt.timedelta(days=6):start_date].max() # Gives max value in a one week interval
        min_value = my_port[my_tickers_1[k]].loc[start_date-dt.timedelta(days=6):start_date].min() # Gives min value in a one week interval
        weekly_drawdowns_list.append((min_value-max_value)/max_value)# Appending weekly drawdown to a list 
        start_date = start_date - dt.timedelta(days=6)# Going to the next 7 day interval
    max_weekly_drawdrowns_list.append(min(weekly_drawdowns_list)) # Using min() to find the max drawdowns in the given list. Using min because we're looking for the highest negative magnitude.
    weekly_drawdowns_list = list()# Initializing
    start_date = dt.date.today()# Initializing to repeat the same procedure with another stock
table["Maximum Weekly Drawdown "] = max_weekly_drawdrowns_list
table

,Tickers,Portfolio Weight,Annual Volatility,Beta Against SPY,Beta Against IWM,Beta Against DIA,Average Weekly Drawdown,Maximum Weekly Drawdown
0,AMZN,0.142857,0.264933,1.453276,0.457087,1.039966,-0.036666,-0.101585
1,CROX,0.142857,0.596942,1.604849,1.269135,1.820178,-0.061397,-0.177824
2,DECK,0.142857,0.385066,1.048085,0.444152,0.955028,-0.038281,-0.188390
3,META,0.142857,0.480885,1.803662,0.547528,1.420480,-0.038034,-0.178635
4,NFLX,0.142857,0.334115,1.241910,0.443284,1.049091,-0.043309,-0.145192
5,OXY,0.142857,0.215541,0.653186,0.510618,0.982842,-0.030957,-0.063272
6,URI,0.142857,0.416805,1.796029,1.336669,2.202207,-0.046679,-0.114695

In [11]:
# Calculating Rate of Return
start_date = dt.datetime.today() - dt.timedelta(days=365*10+2) # 10 years + 2 days accounting for leap year.
end_date = dt.datetime.today()
# Importing data for last 10 years
my_port_10y = yf.download(start=start_date, end=end_date, tickers=my_tickers_1)
my_port_10y = my_port_10y["Adj Close"]
etf_10y = yf.download(start=start_date, end=end_date, tickers=my_tickers_2)
etf_10y = etf_10y["Adj Close"]

[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  3 of 3 completed

In [12]:
my_port_10y # Checking

,AMZN,CROX,DECK,META,NFLX,OXY,URI
Date,,,,,,,
2014-03-03,17.989000,15.090000,72.870003,67.338554,63.655712,66.669235,86.067833
2014-03-04,18.195000,15.300000,74.279999,68.727081,64.997147,67.481331,89.038399
2014-03-05,18.618500,15.470000,75.010002,71.494141,64.785713,67.224525,87.867882
2014-03-06,18.608000,15.210000,76.070000,70.764915,64.358574,67.322456,87.051468
2014-03-07,18.603001,15.290000,76.269997,69.726021,64.052856,67.923828,87.041634
...,...,...,...,...,...,...,...
2024-02-22,174.580002,117.290001,884.059998,486.130005,588.469971,60.529999,658.799988
2024-02-23,174.990005,118.309998,880.479980,484.029999,583.559998,60.020000,658.229980
2024-02-26,174.729996,119.879997,869.469971,481.739990,587.650024,60.470001,670.789978
2024-02-27,173.539993,121.089996,871.400024,487.049988,601.669983,60.599998,676.479980
2024-02-28,173.160004,123.260002,882.419983,484.019989,596.479980,60.259998,686.190002

In [13]:
# Code to calculate the beginning price of each stocks 10 years ago. Copied from the following stack exchange: https://stackoverflow.com/questions/50586146/find-first-non-zero-value-in-each-column-of-pandas-dataframe
beginning_price_list = list()
m = my_port_10y.ne(0).idxmax()
val=pd.DataFrame(dict(pos=m, val=my_port_10y.lookup(m, m.index)))
beginning_price_list = val.iloc[:,1]
beginning_price_list = beginning_price_list.tolist()
val # Checking

/tmp/ipykernel_341160/653820721.py:4: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  val=pd.DataFrame(dict(pos=m, val=my_port_10y.lookup(m, m.index)))

            pos        val
AMZN 2014-03-03  17.989000
CROX 2014-03-03  15.090000
DECK 2014-03-03  72.870003
META 2014-03-03  67.338554
NFLX 2014-03-03  63.655712
OXY  2014-03-03  66.669235
URI  2014-03-03  86.067833

In [14]:
# Code to calculate the current price of each stocks.
current_price_list = list()
for j in range(len(my_tickers_1)):
        last_data=my_port_10y.iloc[my_port_10y.shape[0]-1,j]
        current_price_list.append(last_data)
        
current_price_list # Checking

[173.16000366210938,
 123.26000213623047,
 882.4199829101562,
 484.0199890136719,
 596.47998046875,
 60.2599983215332,
 686.1900024414062]

In [15]:
# Calculating total return
Total_return_list = list()
for m in range (len(my_tickers_1)):
    Total_return = ((current_price_list[m]-beginning_price_list[m])/beginning_price_list[m])*100 # Formula to calculate Total Return = (Ending price - Beginning price)/Beginning price
    Total_return_list.append(Total_return)
table["Total Return"] = Total_return_list
table

,Tickers,Portfolio Weight,Annual Volatility,Beta Against SPY,Beta Against IWM,Beta Against DIA,Average Weekly Drawdown,Maximum Weekly Drawdown,Total Return
0,AMZN,0.142857,0.264933,1.453276,0.457087,1.039966,-0.036666,-0.101585,862.588252
1,CROX,0.142857,0.596942,1.604849,1.269135,1.820178,-0.061397,-0.177824,716.832345
2,DECK,0.142857,0.385066,1.048085,0.444152,0.955028,-0.038281,-0.188390,1110.950940
3,META,0.142857,0.480885,1.803662,0.547528,1.420480,-0.038034,-0.178635,618.785833
4,NFLX,0.142857,0.334115,1.241910,0.443284,1.049091,-0.043309,-0.145192,837.040778
5,OXY,0.142857,0.215541,0.653186,0.510618,0.982842,-0.030957,-0.063272,-9.613485
6,URI,0.142857,0.416805,1.796029,1.336669,2.202207,-0.046679,-0.114695,697.266504

In [16]:
# Calculating Annualized Total Return
annualized_rate_list = list()
for m in range (len(my_tickers_1)):
    annualized_rate = (((current_price_list[m]/beginning_price_list[m])**(1/10))-1)*100 # Using the formula: ((Ending price/Beginning price)^(1/N) -1)*100
    annualized_rate_list.append(annualized_rate)
table["Annualized Total Return"] = annualized_rate_list

**Table of Data for Part 1**

In [17]:
table

,Tickers,Portfolio Weight,Annual Volatility,Beta Against SPY,Beta Against IWM,Beta Against DIA,Average Weekly Drawdown,Maximum Weekly Drawdown,Total Return,Annualized Total Return
0,AMZN,0.142857,0.264933,1.453276,0.457087,1.039966,-0.036666,-0.101585,862.588252,25.413433
1,CROX,0.142857,0.596942,1.604849,1.269135,1.820178,-0.061397,-0.177824,716.832345,23.371059
2,DECK,0.142857,0.385066,1.048085,0.444152,0.955028,-0.038281,-0.188390,1110.950940,28.325408
3,META,0.142857,0.480885,1.803662,0.547528,1.420480,-0.038034,-0.178635,618.785833,21.803551
4,NFLX,0.142857,0.334115,1.241910,0.443284,1.049091,-0.043309,-0.145192,837.040778,25.076537
5,OXY,0.142857,0.215541,0.653186,0.510618,0.982842,-0.030957,-0.063272,-9.613485,-1.005660
6,URI,0.142857,0.416805,1.796029,1.336669,2.202207,-0.046679,-0.114695,697.266504,23.072310

**Part 2**

In [18]:
# Putting ETF tickers on a table
data = {"Tickers": my_tickers_2}
table2 = pd.DataFrame(data)
print(table2)

  Tickers
0     DIA
1     IWM
2     SPY

In [20]:
# Calculating the correlations & covariations against the ETFs using data from 1 year
covariance_list = list()
correlation_list = list()
weighted_return = (my_port.sum(axis = 'columns'))*weight # Summing over rows with appropriate weight calculated in Part 1 to get weighted return.
weighted_return = weighted_return.tolist() # Converting dataframe to list
for x in range(len(my_tickers_2)):
    covariance=(np.cov(etf[my_tickers_2[x]].tolist(),weighted_return))[0,1] # Calculating covariance matrix using np.cov() and accessing off-diagonal term for different ETFs to get covariance of portfolio against ETFs.
    covariance_list.append(covariance)
    correlation=(np.corrcoef(etf[my_tickers_2[x]].tolist(),weighted_return))[0,1]# Calculating correlation matrix using np.corrcoef() and accessing off-diagonal term for different ETFs to get correlation of portfolio against ETFs.
    correlation_list.append(correlation)
table2["Correlation against ETF"]=correlation_list
table2["Covariance against ETF"]=covariance_list
table2

  Tickers  Correlation against ETF  Covariance against ETF
0     DIA                 0.958957              979.859658
1     IWM                 0.756786              399.887702
2     SPY                 0.970825             1491.119119

In [21]:
# Calculating Tracking Errors using trailing 10-years
weighted_return_10y = (my_port_10y.sum(axis = 'columns'))*weight # Weighted 10 year return
weighted_return_10y = weighted_return_10y.tolist()
standard_deviation_list = list()
for z in range(len(my_tickers_2)):
    standard_deviation=np.std(np.subtract(weighted_return_10y,(etf_10y[my_tickers_2[z]].tolist()))) # Taking standard deviation of the difference between weighted return and ETFs
    standard_deviation_list.append(standard_deviation)
table2["Tracking Errors"]=standard_deviation_list
table2

  Tickers  Correlation against ETF  Covariance against ETF  Tracking Errors
0     DIA                 0.958957              979.859658        25.774312
1     IWM                 0.756786              399.887702        51.802735
2     SPY                 0.970825             1491.119119        29.222780

In [22]:
# Calculating Sharpe Ratio using the dataset for 10 years.
weighted_return_annual= ((my_port_10y.sum(axis = 'columns'))*weight).pct_change().mean()*252 # Mean of percent change in weighted return is multiplied by 252 to get annual rate.
risk_free_rate = 0.043; # 4.3 % from a quick google search.
sharpe_ratio_list = list()
for d in range(len(my_tickers_2)):
    sharpe_ratio=(weighted_return_annual-risk_free_rate)/(standard_deviation_list[d]*np.sqrt(252)) # Sharpe Ratio = (Return rate - Risk free rate)/ Standard deviation of excess returns. Excess returns was calculated in the previous part as standard_deviation_list.
    sharpe_ratio_list.append(sharpe_ratio)
table2["Sharpe Ratio"]=sharpe_ratio_list
table2

,Tickers,Correlation against ETF,Covariance against ETF,Tracking Errors,Sharpe Ratio
0,DIA,0.958957,979.859658,25.774312,0.000486
1,IWM,0.756786,399.887702,51.802735,0.000242
2,SPY,0.970825,1491.119119,29.222780,0.000429

In [23]:
# Annualized Volatility Spread
start_date = dt.date.today() - dt.timedelta(days=252)
end_date = dt.date.today()
annualized_volatility_portfolio = ((my_port.loc[start_date:end_date].sum(axis = 'columns')*weight).pct_change().std()) * np.sqrt(252) # Annualized Volatility of weighted returns
annualized_volatility_spread_list = list()
for g in range(len(my_tickers_2)):
    annualized_volatility_spread = annualized_volatility_portfolio-((etf[my_tickers_2[g]].loc[start_date:end_date].pct_change().std())* np.sqrt(252)) # Annualized Volatility of weighted returns - Annualized Volatility of ETFs
    annualized_volatility_spread_list.append(annualized_volatility_spread)
table2["Annualized Volatility Spread"] = annualized_volatility_spread_list

**Table of Data for Part 2**

In [24]:
table2

,Tickers,Correlation against ETF,Covariance against ETF,Tracking Errors,Sharpe Ratio,Annualized Volatility Spread
0,DIA,0.958957,979.859658,25.774312,0.000486,0.138498
1,IWM,0.756786,399.887702,51.802735,0.000242,0.030827
2,SPY,0.970825,1491.119119,29.222780,0.000429,0.118301

**Part 3**

In [25]:
# Calculating Correlation Matrix
correlation_matrix = combined_port.corr(method='pearson') # Calculating correlation matrix of our dataframe with the pearson method.
correlation_matrix

,AMZN,CROX,DECK,DIA,IWM,META,NFLX,OXY,SPY,URI
AMZN,1.000000,-0.455848,0.915630,0.895933,0.672172,0.962264,0.949199,-0.133777,0.960525,0.851757
CROX,-0.455848,1.000000,-0.220477,-0.162739,0.094726,-0.388175,-0.272569,-0.248565,-0.273670,-0.220252
DECK,0.915630,-0.220477,1.000000,0.948981,0.686293,0.930926,0.920555,-0.299476,0.933852,0.908421
DIA,0.895933,-0.162739,0.948981,1.000000,0.830188,0.893510,0.906786,-0.240311,0.968555,0.924129
IWM,0.672172,0.094726,0.686293,0.830188,1.000000,0.647976,0.745328,-0.210758,0.812947,0.805668
META,0.962264,-0.388175,0.930926,0.893510,0.647976,1.000000,0.937015,-0.144177,0.949451,0.871420
NFLX,0.949199,-0.272569,0.920555,0.906786,0.745328,0.937015,1.000000,-0.242939,0.959364,0.870829
OXY,-0.133777,-0.248565,-0.299476,-0.240311,-0.210758,-0.144177,-0.242939,1.000000,-0.188819,-0.164206
SPY,0.960525,-0.273670,0.933852,0.968555,0.812947,0.949451,0.959364,-0.188819,1.000000,0.906642
URI,0.851757,-0.220252,0.908421,0.924129,0.805668,0.871420,0.870829,-0.164206,0.906642,1.000000